<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3 class="mt-3">Indica cuántos dispositivos peligrosos a mostrar en el top:</h3>
        <form action="" method="post">
            <div class="form-group">
                <label>Top dispositivos peligrosos:</label>
                <input type="number" class="form-control" name="numDisp" required>
            </div>
            <div class="form-group">
                <label>Porcentaje de servicios inseguros:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="peli" value=1 checked>
                    <label class="form-check-label"> > 33%</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="peli" value=0>
                    <label class="form-check-label"> <= 33%</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Mostrar</button>
        </form>
        {% if peli == 1 %}
        <h2 class="mt-3">Top dispositivos peligrosos</h2>
        <p>Eje Y -> Porcentaje de servicios inseguros</p>
        <p>Eje X -> Nombre del dispositivo que ejecuta esos servicios</p>
        <img src="/static/images/{{f1}}" class="img-fluid"><br>
        {% endif %}
        {% if peli == 0 %}
        <h2 class="mt-3">Top dispositivos NO peligrosos</h2>
        <p>Eje Y -> Porcentaje de servicios inseguros</p>
        <p>Eje X -> Nombre del dispositivo que ejecuta esos servicios</p>
        <img src="/static/images/{{f1}}" class="img-fluid"><br>
        {% endif %}
    </div>
</body>
</html>
