<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
</head>
<body>
<h3>Indica cuántos servicios a mostrar en el top:</h3>
<form action="" method="post">
    <label>Top IP's problemáticas</label>
    <input type="number" name="numIP"><br>
    <label>Top dispositivos vulnerables</label>
    <input type="number" name="numDisp"><br>
    <input type="submit" value="Mostrar">
</form>
{%if numIP%}
<img src="/static/images/{{f1}}"><br>
{%endif%}
{%if numDisp%}
<img src="/static/images/{{f2}}"><br>
{%endif%}
</body>
</html>