<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Práctica 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
<h1 class="text-center display-4">Bienvenido a nuestro CMI-System!</h1>
<h2 class="text-center display-4">Lista de links a los ejercicios</h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 1</h5>
        <a href="/ejercicio1" class="card-link">Ir al ejercicio</a>
        <a href="/ejercicio1/pdf" class="card-link">Generar PDF</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 2</h5>
        <a href="/ejercicio2" class="card-link">Ir al ejercicio</a>
        <a href="/ejercicio2/pdf" class="card-link">Generar PDF</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 3</h5>
        <a href="/ejercicio3" class="card-link">Ir al ejercicio</a>
        <a href="/ejercicio3/pdf" class="card-link">Generar PDF</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 4: Generadores de pdf de ejercicios anteriores</h5>
        <a href="/ejercicio1/pdf" class="card-link">Generar PDF (Ejercicio 1)</a>
        <a href="/ejercicio2/pdf" class="card-link">Generar PDF (Ejercicio 2)</a>
        <a href="/ejercicio3/pdf" class="card-link">Generar PDF (Ejercicio 3)</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 5</h5>
        <a href="/ejercicio5" class="card-link">Ir al ejercicio</a>
    </div>
</div>
</body>
</html>